
{% extends 'base.html' %}

{% block content %}
    <section class="bg-white dark:bg-gray-900 mt-20 mb-20">
    <h1 class="text-center text-4xl dark:text-white font-bold py-5"> 🛠️Upload Project </h1>

        <form method="post" autocomplete="off" novalidate class="max-w-sm mx-auto" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-2">
                {{ form.title.label(class="block text-sm font-medium text-gray-900 dark:text-white") }}
                {{ form.title(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                {% for error in form.title.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-2">
                {{ form.description.label(class="block text-sm font-medium text-gray-900 dark:text-white") }}
                {{ form.description(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                {% for error in form.description.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-2">
                {{ form.image.label(class="block text-sm font-medium text-gray-900 dark:text-white") }}
                {{ form.image(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                {% for error in form.image.errors %}
                    <span style="color: red; ">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-2">
                {{ form.github_url.label(class="block text-sm font-medium text-gray-900 dark:text-white") }}
                {{ form.github_url(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                {% for error in form.github_url.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-2">
                {{ form.demo_url.label(class="block text-sm font-medium text-gray-900 dark:text-white") }}
                {{ form.demo_url(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                {% for error in form.demo_url.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-2">
                {{ form.submit()}}
            </div>
            <div class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"> 
                <a href="{{url_for('dashboard')}}">Cancel</a>
            </div>
        </form>
    </section>
    
    {% endblock %}
    
